/************** GENERAL *******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'open sans';
}
.contenedor {
  padding: 40px 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  text-decoration: underline; 
  padding: 5px 5px;
}
header {
  width: 100%;
  height: 500px;
  background: #71694cc4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(/imagenes/portada.jpeg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(/imagenes/portada.jpeg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
nav{
  text-align: right;
  padding: 30px 50px 0 0;
}
nav > a{
  color:#fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover{
  text-decoration: underline;
}
header .textos-header{
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.textos-header h1{
  font-size: 40px;
  color:#fff; 
  margin: 20px 0 0 0;

}
.textos-header h2{
  font-size: 20px;
  font-weight: 300;
  color:#fff;

}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/************ MAIN INSTITUCIONAL *******************/

.container-tarjeta{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px; 
  }
  .title-tarjetas{
  width: 100%;
  max-width: 100px;
  margin: 20px auto;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
  }
  .tarjeta{
  flex: 20%;
  width: calc(40% - 10px);;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background:#fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  transition: all 400ms ease-out;
  cursor: default;
  }
  .tarjeta:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  }
  .tarjeta img{
  width: 100%;
  height: 210px;
  }
  .tarjeta .contenido-tarjeta{
  padding: 15px;
  text-align: center;
  }
  .tarjeta .contenido-tarjeta h3{
  margin-bottom: 15px;
  color: #0b0a0a;
  }
  .tarjeta .contenido-tarjeta p{
  line-height: 1.8;
  color: #100f0f;
  font-size: 14px;
  margin-bottom: 5px;
  }
  .tarjeta .contenido-tarjeta a{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
  }
  .tarjeta .contenido-tarjeta a:hover{
  background: #2fb4cc;
  color: #fff;
  }

/********** PAGE SERVICIOS ***********/

.container-tarj{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
.container-tarj .card-tarj{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 350px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.container-tarj .card-tarj:hover{
  height: 400px;
}
.container-tarj .card-tarj .imgBx{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #b390be67;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container-tarj .card-tarj:hover .imgBx{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container-tarj .card-tarj .content-tarj{
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0px 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transform-origin: 0.5s;
}
.container-tarj .card-tarj:hover .content-tarj{
  top: 130px;
  height: 250px;
}
.container-tarj .card-tarj .content-tarj h2{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--clr);
}
.container-tarj .card-tarj .content-tarj p{
  color: #0a0a0a;
}
.container-tarj .card-tarj .content-tarj a{
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #000;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8%;
}
  
/********* PAG ESPECIALIDAD **********/

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagen-port{
  width: 28%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  display: block;
}
.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(307, 58%, 72%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img{
  width: 50px;
}
.hover-galeria p{
  color: #fff;
}
.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

/********** PAG PROFESIONAL **********/

.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card__father{
    margin: 20px;
    perspective: 1000px;
}
.card__father:hover .card{
    transform: rotateY(180deg);
}
.card{
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}
.card__front{
    background-size: cover;
    background-position: center;
}
.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}
.card__back{
    transform: rotateY(180deg);
    background: rgba(209, 170, 227, 0.605);
}
.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f1f1;
    transform: translateZ(60px);
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664));
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664));
    border-radius: 20px;
}
.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}
.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

/********* PAG CONTACTO **********/

.cards{
  display: flex;
  justify-content: space-evenly;
}
.cards .card{
  background: #4d0686;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  border-radius: 5px 40px 5px 40px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}
.cards .card > .contenido-texto-card{
  width: 60%;
  color: #fff;
}
.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 5px;
}
.container, .form-container, .form-container form{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 5px;
  text-align: center;
}
.contenedor-del-iframe {
  text-align: center; 
}
iframe {
  width: 50%;
  height: 200px;
  border: 0;
  margin: 0 auto;
  border-radius: 100 100;
}

/********** PIE DE PÁGINA **********/

footer{
  background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664));
  background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664));
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.content-foo{
  text-align: center;
}
.content-foo h4{
  color: #100f0f;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.content-foo p{
  color: #ccc;
}
.titulo-final{
  text-align: center;
  font-size: 20px;
  margin: 5px 0 0 0;
  color: #5c4c4c;
}
.social-icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
.whatsapp-button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  outline: none;
}
.whatsapp-button img {
  width: 100px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* Ajusta la altura automáticamente */
}

/********** BOTON SOLICITAR CITA **********/

.reserve-button {
  display: inline;
  padding: 5px 10px;
  background-color: #0074d9;
  color: #fff;
  border: 1px solid #ccc;
  border-left: #546d8d 5px solid;
  border-radius: 10px 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: background-color 0.3s ease;
}
.reserve-button:hover {
  background-color: #59636c; 
}

/*********** REGISTRO FORMULARIO ***********/

.form-formulario {
  background: -webkit-linear-gradient(to right, hsla(252, 23%, 50%, 0.459), hsla(298, 28%, 79%, 0.664));
  background: linear-gradient(to right, hsla(252, 23%, 50%, 0.459), hsla(298, 28%, 79%, 0.664));
  width: 60%;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; 
  margin-bottom: 10px;
}
.label-formulario {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.input-formulario {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.button-formulario {
  background-color: #b582dc;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.button-formulario:hover {
  background-color: #a879ab;
}
.confirmation-message {
  border: 1px solid #baa2a2;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-options {
  display: none;
  padding: 10px;
  background-color: #4e4a4aa1;
  border: 1px solid #655858;
  margin-top: 40px;
  border-radius: 5px;
}
.confirmation-message {
  border: 1px solid #baa2a2;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-options {
  display: none;
  padding: 10px;
  background-color: #4e4a4aa1;
  border: 1px solid #655858;
  margin-top: 40px;
  border-radius: 5px;
}


/*********** RESPONSIVE ***********/

@media screen and (max-width:768px){

  .titulo {
    margin-bottom: 10px; 
  }
  header {
    background-position: center;
  }
  
    /* Galeria */

  .imagen-port{
    width: 50%;
  }

  /* Clientes */
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards .card {
    width: 100%;
  }
  .cards .card:first-child{
    margin-bottom: 30px;
  }

  /* servicios */

  .expand-button,
  .reserve-button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
  }
  /*Equipo*/

  .form-formulario {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
  .form-group {
    margin-bottom: 8px;
  }

  .submit-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .confirmation-message {
    padding: 10px;
  }

  .user-options {
    margin-top: 20px;
    padding: 10px;
  }


@media screen and (max-width:480px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }
  nav > a{
      margin-right: 5px;
  }
  .textos-header h1{
      font-size: 35px;
      margin-right: 5px;
  }
  .textos-header h2{
      font-size: 20px;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 60px;
      width: 99%;
  }

  .sobre-nosotros .contenido-textos{
      width: 95%;
  }

      /* Galeria */

  .imagen-port{
    width: 95%;
  }

  /* Clients */

  .cards .card .tarjeta{
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cards .card img{
      width: 90px;
      height: 90px;
  }

  /* Footer */

  .contenedor-footer{
      flex-direction: column;
      border: none;
  }

  .content-foo{
      margin-bottom: 20px;
      text-align: center;
  }

  .content-foo h4{
      border: none;
  }

  .content-foo p{
      color: #ccc;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
  }

  .titulo-final{
      font-size: 20px;
  }
  .titulo {
    margin-bottom: 100px;
  }
}

}

