<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Contacto - Odontología Integral</title>
  
  <img src="{{ url_for('static', filename='imagenes/favicon.png') }}" alt="Favicon" style="width: 50px; height: 50px;">

</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <header>
    <nav>      
      <a href="{{ url_for('index') }}" class="page-box">Institucional</a>
      <a href="{{ url_for('servicios') }}" class="page-box">Servicios</a>
      <a href="{{ url_for('equipo') }}" class="page-box">Equipo</a>
      <a href="{{ url_for('especialidades') }}" class="page-box">Especialidades</a>
      <a href="{{ url_for('contacto') }}" class="page-box">Contacto</a>
      <a href="https://wa.me/5491153030046?text=Hola!%20Quisiera%20saber%20mas%20sobre%20odontología%20Integral.%20Conocer%20sus%20especialidades%20y%20servicios."class="whatsapp-button">
        <img src="{{ url_for('static', filename='imagenes/whatsapp-port.png') }}" alt="WhatsApp"></a>     
    </nav>

    <section class="textos-header">
      <h1>Bienvenido a Odontología Integral</h1>
      <h2>En nuestros consultorios sentite como en casa.</h2>
    </section> 
   
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fff;"></path>
    </svg>
    </div> 
  </header>

  <main>    
    <h2 class="titulo">Formulario de registro</h2>
    <form id="registration-form" class="form-formulario" method="POST"
      {% if usuario and usuario.id %}
      action="{{ url_for('modificar', id_usuario=usuario.id) }}"
      {% else %}
      action="{{ url_for('index') }}"
      {% endif %}
    >       
      <input type="hidden" name="id" value="{{ usuario.id if usuario else '' }}">
      
      <label class="label-formulario" for="nombre">Nombre/s:</label>
      <input class="input-formulario" type="text" id="nombre" name="nombre" required placeholder="Ingrese su nombre/s...">
      
      <label class="label-formulario" for="apellido">Apellido/s:</label>
      <input class="input-formulario" type="text" id="apellido" name="apellido" required placeholder="Ingrese su apellido/s...">
      
      <label class="label-formulario" for="dni">DNI:</label>
      <input class="input-formulario" type="text" id="dni" name="dni" required placeholder="Ingrese su DNI...">
      
      <label class="label-formulario" for="direccion">Dirección:</label>
      <input class="input-formulario" type="text" id="direccion" name="direccion" required placeholder="Ingrese su dirección...">
      
      <label class="label-formulario" for="numero">Número:</label>
      <input class="input-formulario" type="text" id="numero" name="numero" required placeholder="Ingrese el número...">
      
      <label class="label-formulario" for="codigo-postal">Código Postal:</label>
      <input class="input-formulario" type="text" id="codigo-postal" name="codigo_postal" required placeholder="Ingrese el código postal...">
      
      <label class="label-formulario" for="telefono">Teléfono:</label>
      <input class="input-formulario" type="text" id="telefono" name="telefono" required placeholder="Ingrese su teléfono...">
      
      <label class="label-formulario" for="email">Email:</label>
      <input class="input-formulario" type="text" id="email" name="email" required placeholder="Ingrese su mail...">
      
      <label class="label-formulario" for="confirmar-email">Confirmar Email:</label>
      <input class="input-formulario" type="text" id="confirmar-email" name="confirmar_email" required placeholder="Confirmar su Email...">
      
      <label class="label-formulario" for="contrasena">Contraseña:</label>
      <input class="input-formulario" type="password" id="contrasena" name="contrasena" required placeholder="Ingrese su contraseña...">
      
      <label class="label-formulario" for="confirmar-contrasena">Confirmar Contraseña:</label>
      <input class="input-formulario" type="password" id="confirmar-contrasena" name="confirmar_contrasena" required placeholder="Confirmar su contraseña">
      
      <label class="label-formulario" for="textarea">¡Tu consulta o sugerencia nos interesa!:</label>
      <textarea class="input-formulario" id="textarea" name="consulta" rows="4" placeholder="¡¿Tienes alguna inquietud o comentario?!"></textarea>
      
      <button class="button-formulario" id="enviarButton" type="submit">Enviar Formulario</button>
    </form>
      
  </main>
  
  <img src="{{ url_for('static', filename='imagenes/envio.png') }}" alt="">
    <section class="clientes contenedor">
      <h2 class="titulo">¡Te esperamos!</h2>
      <div class="cards">
          <div class="card">
            <img src="{{ url_for('static', filename='imagenes/calendario.png') }}" alt="">
              <div class="contenido-texto-card">
                  <h4>Horarios de Atencion</h4>
                  <p>Lunes a viernes  8:00 a 18:00hs</p>
                  <p>Sábados  9:00 a 13:00hs</p>
              </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='imagenes/map.png') }}" alt="">           
              <div class="contenido-texto-card">
                <h4>Nuestra ubicación en el mapa</h4>
                <p>Arana, Monte Grande, Esteban Echeverría</p>                 
              </div><br>
          </div><br>
        </div>       
    </section>

    <div class="contenedor-del-iframe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.696776748904!2d-58.46642380000004!3d-34.8135698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd163a82d15e9%3A0x141028019cec648a!2sEduardo%20Arana%20228%2C%20B1842BWF%20Monte%20Grande%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1692651067495!5m2!1ses-419!2sar" width="350" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><br> 

  <footer>
    <div class="wave" style="height: 150px; overflow: hidden;">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,100.02 C150.00,200.00 349.20,0.00 500.00,100.02 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
      </svg>
    </div>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Seguinos</h4>
          <img src="{{ url_for('static', filename='imagenes/facebook.png') }}" alt= "facebook" class="social-icon">
          <img src="{{ url_for('static', filename='imagenes/instagram.png') }}" alt= "instagam" class="social-icon">
      </div>
      <div class="content-foo">              
        <h4>Contactanos</h4>
        <img src="{{ url_for('static', filename='imagenes/whatsapp.png') }}" alt="WhatsApp" class="social-icon">
      </div>
      <div class="content-foo">
        <h4>Consultanos</h4>
        <img src="{{ url_for('static', filename='imagenes/email.png') }}" alt="Email" class="social-icon">info@odontologicoIntegral.com
      </div>
      <div class="content-foo">
        <h4>¡Te esperamos!</h4>
        <img src="{{ url_for('static', filename='imagenes/marcador-de-posicion.png') }}" alt="Ubicación" class="social-icon">Arana, Monte Grande, Esteban Echeverría            
      </div>
    </div><br>
    <h2 class="titulo-final">&copy; Odontología Integral 2023. Todos los derechos reservados</h2><br>
    <img src="{{ url_for('static', filename='imagenes/mp.png') }}" alt="logo" class="social-icon">
    <p>Desarrollo Web</p>
  </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

