<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Página no administrador - Odontología Integral</title>

  <img src="{{ url_for('static', filename='imagenes/favicon.png') }}" alt="Favicon" style="width: 50px; height: 50px;">

</head>

<body>

  <header>
    <nav>
      <a href="{{ url_for('index') }}" class="page-box">Institucional</a>
      <a href="{{ url_for('servicios') }}" class="page-box">Servicios</a>
      <a href="{{ url_for('equipo') }}" class="page-box">Equipo</a>
      <a href="{{ url_for('especialidades') }}" class="page-box">Especialidades</a>
      <a href="{{ url_for('formulario') }}" class="page-box">Contacto</a>
      <a href="{{ url_for('logout') }}" class="page-box">Cerrar Sesión</a> <!-- Agregado enlace para cerrar sesión -->
      <a href="https://wa.me/5491153030046?text=Hola!%20Quisiera%20saber%20mas%20sobre%20odontología%20Integral.%20Conocer%20sus%20especialidades%20y%20servicios."class="whatsapp-button">
        <img src="{{ url_for('static', filename='imagenes/whatsapp-port.png') }}" alt="WhatsApp"></a>
    </nav>

    <section class="textos-header">
      <h1>Página no administrador</h1>
      <h2>{{ mensaje }}</h2>  <!-- Agregado mensaje dinámico -->
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fff;"></path>
    </svg>
    </div>
  </header>

  <main>
    <!-- Contenido principal de la página no administrador -->
    <div class="container">
      <p>{{ mensaje }}</p>
    </div>
  </main>

  <footer>
    <!-- Contenido del pie de página -->
    <!-- ... (mantén el contenido del pie de página igual) ... -->
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
